# tentative ideas
sts-docs/functional-spec/user-flow.md
sts-docs/iteration-0-planning-the-plan/why-react-typescript-tailwind.md
sts-docs/iteration-0-planning-the-plan/the-backend.md
sts-docs/functional-spec/a-product-I-would-use.md

# deprecated files
sts-docs/iteration-0-planning-the-plan/0-noob-estimation.md
sts-docs/iteration-0-planning-the-plan/1-higher-order-aims.md
sts-docs/iteration-1-fundamentals/0-why-html-css-js.md


# notes to self
eventual-README.md